{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="row">
  Follow a New User:
  <form method="POST" action="" class="form">
      {% for field in new_target_form %}
        {{ render_field(field) }}
      {% endfor %}
      <button type="submit" id="submit">Add</button>
  </form>
</div>

<br><br>

<div class="row">
  Current SoundCloud Users You are Following:
  <br><br>
  <table>
    <tr>
      <th>Permalink</th>
      <th>Remove</th>
    </tr>
      {% for target in targets %}
        <tr>
          <td>{{ target.permalink }}</td>
          <th>
            <form method="POST" action="/delete_target" class="delete">
             <input type="hidden" value="{{ target.sc_id }}" name="target" />
             <button class="delete" type="submit">X</button>
            </form>
          </th>
        </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}