{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="row">
  Follow a New User:
  <form method="POST" action="" class="form">
      {% for field in new_target_form %}
        {{ render_field(field) }}
      {% endfor %}
      <button type="submit" id="submit">Add</button>
  </form>
</div>

<br><br>

<div class="row">
  Current SoundCloud Users You are Following:
  <br><br>
  <table>
    <tr>
      <th>Permalink</th>
      <th>Remove</th>
    </tr>
    <form method="POST" action="" class="form">
      {% for target in targets %}
        <tr>
          <td>{{ target.permalink }}</td>
          <td><a href="{{url_for('delete_target')}}">X</a>


      {% endfor %}
    </form>
  </table>
</div>
{% endblock %}