{% extends "layout.html" %}

{% block content %}

	<div id="tracks">
		
	</div>

	<!-- Messages -->
	<p id="no-tracks" style="display: none;">No tracks yet. Go to your <a href="{{ url_for('profile') }}">profile</a> to start following users!</p>
	<p id="end-stream" style="display: none;">You've reached the end of your stream!</p>

	<button id="load-more" style="display: none;">Load More</button>
	
	<script src="https://w.soundcloud.com/player/api.js"></script>
	<script src="/static/js/widgets.js"></script>
	<script src="/static/js/custom.js"></script>

{% endblock %}

